@media (max-width :800px){
 .cadastroContainer{
    width: 300px;
 }
}

@media (max-width :400px){
    .cadastroContainer{
       width: 260px;
    }

    
   }

@media (max-width :500px){
    .cadastrarBtn{
        width: 50% !important;
    }


}


.cadastroContainer{
    display: flex;
    flex-flow: column;
    
    justify-content: center;
    align-items: center;

    gap: 2rem;

    box-shadow: 1px 1px 10px black;

    margin: 0 50%;
    transform: translateX(-50%);

    min-width: 40vw;
    min-height: 40vw;

    border-radius: 10px;

    padding: 2rem;


    /* padding-right: 6rem; */
}

.cadastroForm{
    display: flex;
    flex-flow: column;

    justify-content: center;
    align-items: flex-start;

    width: 100%;

    gap: 2rem;

    /* background-color: purple; */
}
.formSon{
    display: flex;
    width: 100%;
    
}
label{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 20%;
}
input{
    height: 1.5rem;
    width:  70%;

    border-radius: 4px;
    border: none;

    color: black;
}

.cadastrarBtn{
    background-color: #2029AD;
    box-shadow: 1px 1px 10px black;
    height: 40px;
    width: 160px;

    outline: none;
    border-radius: 8px;

    border: none;

    transition: box-shadow 0.4s ease-in-out;
    cursor: pointer;

    align-self: center;
}
.cadastrarBtn:hover {
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.404);
    
}
.cadastrarBtn>p{
    transition: transform 0.4s ease-in-out;
}
.cadastrarBtn:hover.cadastrarBtn>p{
    
    transform: scale(1.2);


}